

.main2 {
    height: 850px;
    background-image: url("../img/spartan.webp");
    background-size: cover;
}

.grid1 {   
    height: 850px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas: 
    "sub sub"
    "form iframe"
    "address address";
}

.form {
    background-color: rgba(247, 246, 235, 0.4);
    border-radius: 10px;
    display: flex;
    grid-area: form;
    margin-left: 60px;
    margin-top: 40px;

}

.address {
    padding: 15px;
    display: flex;  
    flex-direction: column;
    font-size: 19px;
    font-family: "Macondo regular";
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    grid-area: address;
}

.subbmit {
    font-family: "Macondo regular";
    color: #ffffff ;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sub;
    font-weight: bold;
    text-align: center;
}

iframe {
    height: 560px;
    width: 620px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #db5d15; 
    --bs-btn-border-color: #db5d15;
    --bs-btn-hover-bg: #e09737;
    --bs-btn-hover-border-color: #e09737;
}

.iframe1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: iframe;
    padding-top: 50px;
}