

.main2 {
    height: 850px;
    background-image: url("../img/spartan.webp");
    background-size: cover;
}

.grid1 {   
    height: 850px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas: 
    "sub sub"
    "form iframe"
    "address address";
}

.address {
    padding: 15px;
    display: flex;  
    flex-direction: column;
    font-size: 19px;
    font-family: "Macondo regular";
    text-align: center;
    color: $color-blanco;
    font-weight: bold;
    grid-area: address;
}

.subbmit {
    font-family: "Macondo regular";
    color: $color-blanco ;
    @extend %flex-center;
    grid-area: sub;
    font-weight: bold;
    text-align: center;
}

iframe {
    height: 600px;
    width: 620px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.iframe1 {
    @extend %flex-center;
    grid-area: iframe;
    padding-top: 50px;
}