

.main2 {
    height: 850px;
    background-image: url("../img/spartan.webp");
    background-size: cover;
}

.grid1 {   
    height: 850px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas: 
    "sub sub"
    "form iframe"
    "address address";
}

.form {
    border-radius: 10px;
    display: flex;
    grid-area: form;
    margin-left: 60px;
    margin-top: 40px;

}

.address {
    padding: 15px;
    display: flex;  
    flex-direction: column;
    font-size: 19px;
    font-family: "Macondo regular";
    text-align: center;
    color: $color-blanco;
    font-weight: bold;
    grid-area: address;
}

.subbmit {
    font-family: "Macondo regular";
    color: $color-blanco ;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sub;
    font-weight: bold;
    text-align: center;
}

iframe {
    height: 600px;
    width: 620px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #db5d15; 
    --bs-btn-border-color: #db5d15;
    --bs-btn-hover-bg: #e09737;
    --bs-btn-hover-border-color: #e09737;
}

.inputs {
    font-family: "Macondo-regular";
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
}

.form-label {
    font-weight: bold;
}

.form-select {
    text-align: center;
    font-weight: bold;
}

.iframe1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: iframe;
    padding-top: 50px;
}