/*HEADER*/

.header {
    background-color: #DD781A;
    font-family: 'Macondo-regular';
    img {
        width: 35px;
        height: 35px;
    }
    h1 {
        font-size: 30px;
        color: #000000;
    }
    nav { 
        display: flex;
        ul {
            list-style-type: none;
            display: flex;    
            li {
                display: flex;
                align-items: end;
                a {
                text-decoration: none;
                font-size: 16px;
                color: #ffffff;
                margin-right: 60px; 
                &:hover {
                    color: #F1A661 ;
                }
                }                
            }
        }
    } 
}

.icon {
    height: 50px;
    display: flex;
    align-items: center;
} 
.menu1 {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

/*FIN HEADER*/