/*HEADER*/

.header {
    background-color: $color-primario;
    font-family: 'Macondo-regular';
    img {
        width: 35px;
        height: 35px;
    }
    h1 {
        font-size: 30px;
        color: #000000;
    }
    nav { 
        display: flex;
            ul {
            list-style-type: none;
            display: flex;    
            li {
                display: flex;
                align-items: end;
                font-weight: bold;
                padding-top: 15px;
                a {
                margin-left: 45px;
                margin-right: 45px;    
                text-decoration: none;
                color: $color-blanco;
                &:hover {
                    color: #F1A661 ;
                }
                }                
            }
        }
    } 
}

.icon {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.menu1 {
    display: flex;
    justify-content: center;
    align-items: end;
}

/*FIN HEADER*/