/*INDEX CLASES*/

.grid {
    background-color: #9b775e;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "img1 subtitle"
    "img1 p";
}

.imgin {
    grid-area: img1;
}

.subb {
    display: flex;
    justify-content: center;
    grid-area: subtitle;
    color: white;
}

.par {
    grid-area: p;
    padding-top: 50px;
}

.begin {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.imgintro {
    border-radius: 30px;
}

.subb2 {
    margin-bottom: 8px;
}

/*FIN INDEX CLASES*/